.button-block {
  background-color: rgba(92, 159, 89, 1) !important;
  font-family: "Montserrat", Sans-serif;
  color: white !important;
  border: none;
  border-radius: 3px;
  font-size: 16px !important;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 16px 28px;
  line-height: 1;
  transition: 0.12s;
  outline: 0;
  display: inline-block;
  margin-bottom: 16px;
  cursor: pointer;
}

#price-options {
  padding-top: 3.5em;
}

.other-section {
  float: right;
  position: relative;
  margin-top: -60px;
  margin-right: 22px;
}

#price_438 {
  background-color: #026288 !important;
  border: 2px solid #636359 !important;
  border-radius: 0px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  height: 40px !important;
  margin-left: 15px !important;
  font-weight: bold;
  font-size: 18px;
}

#price_438:([type='radio']){
  color: #ffffff !important;
}

.button-block:hover {
  color: #ffffff !important;
  background-color: rgba(92, 159, 89, 0.75) !important;
  border: none !important;
}

#gift_type, #donation_type, .one_time-content, .monthly-content {
  text-align: center !important;
  padding-bottom: 35px;
  margin-left: 10% !important;
}

#donation_type, #pricesetTotal {
  padding-top: 40px;
}

.crm-price-amount-label,
.crm-container input[type=checkbox]+label[for]:not(:checked):not(for=billingcheckbox) {
  font-weight: normal !important;
  color: white !important;
}

input[type="radio"]:checked+label .button-block, div.crm-container input[type=radio]:not(:checked)+div.price-set-rows label {
  display: inline-block;
  font-weight: 600 !important;
}

input[type="radio"]:checked+label, input[type="radio"]:checked+div.price-set-rows label {
  font-weight: 600 !important;
  display: inline-block;
}

input[type="radio"]:checked+label:before, input[type="radio"]:checked+div.price-set-rows label:before {
  content: "\f00c";
  font-family: FontAwesome;
}

.is_recur-section, .is_for_organization-section {
  display: none;
}

.soft_credit_type_id-section {
  padding-bottom: 20px;
}

#editrow-do_not_trade, .billing_country_id-5-section, .one_time-section > div.label > label:first-child, .monthly-section > div.label > label:first-child {
  display: none;
}

textarea {
  width: -webkit-fill-available;
}

#priceset .content {
  margin-left: 0% !important;
}

.crm-container .crm-button.cancel {
    font-family: "Montserrat", Sans-serif !important;
    font-size: 14px !important;
    font-weight: normal !important;
    color: #FFFFFF !important;
    line-height: 14px !important;
    background-color: rgba(92, 159, 89, 1) !important;
    border-radius: 3px !important;
    padding: 10px !important;
    text-shadow: none !important;
    border: none !important;
}

.credit_card_info-group {
  padding-bottom: 2em !important;
}

.billing_name_address-group {
  margin-top: 25px !important;
}

@media only screen and (max-width: 901px) {
  /* For mobile phones: */
  .crm-container .crm-section .custom_pre_profile-group .label {
    display: contents !important;	  
  }
  .monthly-row1, .one_time-row1 {
    margin-left: 16% !important;
  }

  #honorType {
    margin-top: 35% !important;
  }    
  #street_address-Primary {
    width: 15em !important;
  }
  #pricevalue {
    margin-top: 3% !important;
  }
  #crm-container.crm-public .custom_pre_profile-group .label, #crm-container.crm-public .custom_post_profile-group .label {
    font-size: 12px !important;
  }
  .label, .content {
	  display: block !important;
	  float: left !important;
	  clear: left !important;

  }
  .crm-container .crm-section .label {
	  width: 100% !important;
  }
  .soft_credit_type_id-section {
	  text-align: center !important;
  }
  #branchamount, #nationalamount {
	  width: 15% !important;
  }
}

@media only screen and (max-width: 420px) {
  /* For mobile phones: */ 
  #price_438 {
    display: block !important;
    margin-top: 25px !important;
    margin-left: 7px !important;
  }
  .crm-container .crm-section .custom_pre_profile-group .label {
    display: contents !important;
  }
  textarea {
   width: -webkit-fill-available;
  }    
  .monthly-row1, .one_time-row1 {
    margin-left: 16% !important;
  } 
  #honorType {
    margin-top: 35% !important;
  }
  #street_address-Primary {
    width: 15em !important;
  }
  #pricevalue {
    margin-top: 3% !important;
  }
  #crm-container.crm-public .custom_pre_profile-group .label, #crm-container.crm-public .custom_post_profile-group .label {
    font-size: 12px !important;
  }    
}
